# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Rate Limiter Configuration (Token Bucket)
RATE_LIMIT_CAPACITY=10
RATE_LIMIT_REFILL_RATE=1

# Grafana Admin
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
